@import '../../../variables';

.title {

  margin-bottom: 20px;

  h4 {
    font-size: 20px;
  }
}

.meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  .innerWrapper {
    display: flex;

    &>div:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.taskDescr {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.5;
}

.editBtn {
  margin-left: auto;

  button {
    margin-bottom: 0;
    padding: 5px 30px;
    font-size: 14px;
  }
}

@media (max-width: $bpM) {
  .meta {
    .innerWrapper {
      flex-direction: column;

      &>div:not(:first-child) {
        margin-left: 5px;
      }
    }
  }
}
