.modalWrapper {
  position: fixed;
  inset: 0;
  z-index: 900;
  width: 100vw;
  padding: 50px 30px 50px 50px;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  position: relative;
  z-index: 1000;
  background: #FFFFFF;
  border-radius: 7px;
  width: 100%;
  max-width: 1000px;
  padding: 50px;
  margin-bottom: 25px;
}

.closeBtn {
  position: absolute;
  right: 20px;
  top: 20px;
}
