.modalWrapper {
  position: fixed;
  inset: 0;
  padding: 0;
  z-index: 900;
  width: 100vw;
  padding: 50px;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  position: relative;
  z-index: 1000;
  background: #FFFFFF;
  // box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
  border-radius: 0;
  width: 100%;
  max-width: 960px;
  padding: 24px 15px;
  margin-bottom: 25px;
}

.modal-enter>div {
  opacity: 0;
  transform: translateX(-150px);
}

.modal-enter-active>div {
  opacity: 1;
  transform: none;
  transition: opacity .5s ease, transform .2s ease;
}

.modal-exit>div {
  opacity: 1;
  transform: none;
}

.modal-exit-active>div {
  opacity: 0;
  transform: translateX(-150px);
  transition: opacity .5s ease, transform .5s ease;
}
