@import '../../variables';

.selectProjectSection {
  background-color: $bg;
  min-height: 100vh;
  padding: 50px;
}

.container {
  // display: flex;
  // flex-direction: column;
  min-height: calc(100vh - 100px);
}

.header {
  margin-bottom: 50px;
}

.link {
  display: inline-block;
  color: $black;
  padding: 20px 50px;
  background-color: $bg;
  width: 100%;
}
