@import '../../variables';

.projectSection {
  background-color: $bg;
  min-height: 100vh;
  padding: 50px;
}

.container {
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 10%);
}

.contentWrapper {
  background-color: white;
}

.tasksBlockWrapper {
  display: flex;
  justify-content: space-between;

  &>div:nth-child(1) {
    background-color: $blueLight;
  }

  &>div:nth-child(2) {
    background-color: $yellowLight;
  }

  &>div:nth-child(3) {
    background-color: $greenLight;
  }
}

.addBtn {
  margin-bottom: 50px;
}
