@import '../../variables';

.projectSection {
  background-color: $bg;
  min-height: 100vh;
  padding: 50px;
}

// .container {
//   display: flex;
// }

.tasksBlockWrapper {
  display: flex;
  justify-content: space-between;
}
