$black: #333;

$blueLight: #f1f5ff;
$blueDark: #79a8e645;
$blueSat: #5a51b1;

$yellowLight: #fff4d4;
$yellowSat: #ffefc1;
$yellowDark: #dca80d;

$greenLight: #e3ffe1;
$greenDark: #21da14;
$greenSat: #cfffcb;

$bg: #f4f6f8;
$bgDark: #e9e9e9;

$bpL: 1100px;
$bpM: 900px;
$bpS: 700px;
$bpXS: 550px;
