.addNewTaskForm-enter {
  max-height: 0;
  opacity: 0;
}

.addNewTaskForm-enter-active {
  opacity: 1;
  max-height: 1500px;
  transition: opacity .5s ease, max-height .5s ease;
}

.addNewTaskForm-exit {
  opacity: 1;
  max-height: 1500px;
}

.addNewTaskForm-exit-active {
  opacity: 0;
  max-height: 0;
  transition: opacity .5s ease, max-height .5s ease;
}


.modal-enter {
  opacity: 0;

  &>div {
    opacity: 0;
    transform: translateX(-150px);
  }
}

.modal-enter-active {
  opacity: 1;
  transition: opacity .4s ease;

  &>div {
    opacity: 1;
    transform: none;
    transition: opacity .4s ease, transform .4s ease;
  }
}

.modal-exit {
  opacity: 1;

  &>div {
    opacity: 1;
    transform: none;
  }
}

.modal-exit-active {
  opacity: 0;
  transition: opacity .4s ease;

  &>div {
    opacity: 0;
    transform: translateX(-150px);
    transition: opacity .4s ease, transform .4s ease;
  }
}


.subtask-enter {
  transform: translateX(-150px);
  opacity: 0;
}

.subtask-enter-active {
  opacity: 1;
  transform: none;
  transition: opacity 500ms ease-in, transform .5s ease;
}

.subtask-exit {
  transform: none;
  opacity: 1;
}

.subtask-exit-active {
  transform: translateX(150px);
  opacity: 0;
  transition: opacity 500ms ease-in, transform .5s ease;
}
